@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
.content
{
    position: relative;
}
.content h2
{
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 4cm;
}
.content h2:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}
.content h2:nth-child(2)
{
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate
{
    0%,100%
    {
      clip-path: polygon(1% 56%, 10% 51%, 19% 53%, 28% 57%, 36% 56%, 47% 52%, 54% 55%, 63% 59%, 73% 59%, 81% 55%, 87% 53%, 94% 57%, 98% 61%, 100% 75%, 100% 86%, 100% 99%, 67% 100%, 18% 98%, 0% 98%);  
    }
    50%
    {
      clip-path: polygon(, 1% 64%1% 64%, 15% 68%, 15% 68%, 26% 68%, 26% 68%, 38% 70%, 38% 70%, 52% 67%, 52% 67%, 65% 61%, 65% 61%, 79% 54%, 79% 54%, 92% 50%, 92% 50%, 99% 46%, 99% 46%);  
    }
}